/* Estilos para el footer */
footer {
    background-color: #2D2D30;
    padding: 40px 0;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

.footer-title {
    font-size: 1.5em; 
    margin-bottom: 20px;
    color: #e67e22; 
    font-weight: bold; 
}

.footer-links {
    padding-left: 0;
    list-style-type: none;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease; 
    font-size: 1.1em;
    line-height: 1.5; 
}

.footer-links a:hover {
    color: #e67e22; 
    text-decoration: none; 
}

.social-icons {
    margin-top: 20px; 
}

.social-icons a {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.5em;
    transition: color 0.3s ease, transform 0.3s ease; 
    text-decoration: none;
}

.social-icons a:hover {
    color: #e67e22; 
    transform: scale(1.1); 
}

.social-icons .facebook {
    color: #3b5998;
}

.social-icons .linkedin {
    color: #0077b5;
}

.map-container iframe {
    border: 0;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); 
}

.aEnlace{
    text-decoration: none;
    color: #e67e22; 
}