@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

.navbar-brand {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  transition: color 0.3s ease;
  margin-left: 1rem;
}


.navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1rem;
  margin: 0 1rem;
  padding: 0.5rem 0;
  transition: color 0.3s ease, transform 0.3s ease;
  font-family: 'Roboto', sans-serif;
}

.navbar-nav .nav-link:hover {
  color: #6ed9e7;
  transform: scale(1.1);
}


.navbar-toggler:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.navbar-toggler-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 25px;
}

.navbar-toggler-icon span {
  background-color: #ffffff;
  height: 2px;
  width: 25px;
  margin: 3px 0;
  transition: all 0.3s ease;
}

/* Estilos adicionales del navbar */
.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11p;
  letter-spacing: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li a, .navbar .navbar-brand {
  color: #ffffff 
}

.navbar-nav li.active a {
  color: #ffffff ;
  background-color: #29292c ;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767.98px) {
  .navbar-custom {
    background-color: #1a1a1a;
  }

  .navbar-nav {
    background-color: #333333;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
    z-index: 999;
    padding-top: 10px;
    transition: transform 0.3s ease;
  }


  .nav-link {
    color: #ffffff;
    display: block;
    margin: 0.5rem 0;
    padding: 1rem;
    border-bottom: 1px solid #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .nav-link:hover {
    background-color: #040404;
    color: #ffffff;
  }

  .navbar-brand {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-left: 0;
  }

  .navbar-toggler-icon {
    background-image: none;
  }
}
